<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="bulk_image_downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <bulk_image_downloader.Properties.Settings>
            <setting name="DownloadDir" serializeAs="String">
                <value>C:\Users\sanmadjack.FORTAWESOME\Desktop\TEST</value>
            </setting>
            <setting name="Downloadables" serializeAs="String">
                <value/>
            </setting>
            <setting name="MaxConcurrentDownloads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DetectAdditionalPages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDownloadDir" serializeAs="String">
                <value>C:\Users\sanmadjack.FORTAWESOME\Desktop\TEST</value>
            </setting>
        </bulk_image_downloader.Properties.Settings>
    </userSettings>
</configuration>
